body {
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
  background: #D6D6DC;
}

#FilterableProductTable {
  background: #CDDC39;
  padding-top: 20px;
  width: 50%;
  margin: 0 auto;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  padding-bottom: 25px;
}

form {
  padding-left: 10px;
}

#search {
  border-radius: 5px;
  border: 1px solid #ccc
}

table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
}

td, th {
  border: 1px solid transparent; /* No more visible border */
  height: 30px;
  transition: all 0.3s;  /* Simple transition for hover effect */
  border-radius:8px;
}
#np {
  background: #0288D1;
  font-weight: bold;
}
th {
  background: #03A9F4;  /* Darken header a bit */
  font-weight: bold;
}

td {
  background: #03A9F4;
  text-align: center;
}

/* Cells in even rows (2,4,6...) are one color */
tr:nth-child(even) td { background-color: #B3E5FC; }

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */
tr:nth-child(odd) td { background-color: #FFFFFF; }

#item:hover { background-color: #00BCD4!important; color: #536DFE; } /* Hover cell effect! */
